# Create symlinks for USB ports for Specific Radio's (G0LGS Feb 2021)

# IC 7300
KERNEL=="ttyUSB?" SUBSYSTEMS=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="IC-7300 03011354", SYMLINK+="ic7300" RUN+="/usr/local/sbin/MinosSetRadioPorts -cfg /home/g0lgs/runtime/Configuration -Q &"
# IC 9700
KERNEL=="ttyUSB?" SUBSYSTEMS=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="IC-9700 13001015 A", SYMLINK+="ic9700a" RUN+="/usr/local/sbin/MinosSetRadioPorts -cfg /home/g0lgs/runtime/Configuration -Q &"
KERNEL=="ttyUSB?" SUBSYSTEMS=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="IC-9700 13001015 B", SYMLINK+="ic9700b"

# Create Consistent Names for Sound (Codec) devices based on the USB port that device is connected
# This makes it easier to configure apps that use Sound Devices provided that you always use the same USB port / Hub combination
ACTION=="change", SUBSYSTEM=="sound", DEVPATH=="/devices/*/usb*/sound/card?", ENV{PULSE_NAME}="$env{ID_ID}.$env{ID_PATH_TAG}"
